
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
.logo{
  color: #455AF7 !important;
}
a{
  text-decoration: none;
  color: #455AF7;
  transition: 0.5s;
}
a:hover{
  color: #000;
}
.nav-link{

  color: #000;
  font-size: 13px;
}
.navbar
.btn-primary{
  border-radius: 14px;
  width: 100px;
  border: none;

}
.nav-item{
  padding: 0px 10px;
}
.navbar .navbar-toggler{
  border: 2px solid #242F51;
}
.navbar .navbar-toggler:focus{
  box-shadow: none;
}
.sec1-img img{
  width: 800px;
  height: auto;

}
.act{
  border-bottom: 3px solid #455AF7;

}
.button{
  color: #fff !important;
  transition: 0.5s;

}

.buttons button{
  width: 150px !important;
  transition: 0.4s;
}
.buttons button:hover{
  color: #000 !important;
  background-color: #fff;
}
.buttons a{
  font-size: 14px;
  padding-top: 8px;
}
.sec1-desc{
  color: #242F51;
  background-image: url(./img/bg1.png) no-repeat;
border-radius: 50%;

}
.sec1-desc p{
  color: #616368;
}
.phonesec{
  flex-wrap: wrap;
}
.button:hover{
  color: #000 !important;
  background-color: #fff;
}
.townimg img{
  width: 100%;
}
.phone-desc{
  width: 600px;
}
.phone-desc p{
  font-size: 14px;
}
.companies{
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.companies h4{
  font-size: 17px;
}
.companies img{


  width: 380px;
  height: auto;

}
.p-img{
  background-image:url(./img/phoneimg.png) no-repeat ;
  background-size: 100%;
  width: 500px !important;

}
.p-img img{
  width: 100%;
}
.hr{
  height: 70px;
  border: 1px solid #616368;
}
.icon{
  flex-direction: column;
  width: 60px;
}
.phead {
  text-align: center;
}
.admin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.admin p{
  font-size: 12px;
  color: gray;
}
.admin button{
  width: 200px;
}
.customer{
background-color: #455AF7;
border-radius: 15px;
flex-wrap: wrap;
}

.cus-desc{
  width: 100%;
  text-align: center;
  color: #fff;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cust-img img{
  width: 50px ;
  height: auto ;
  border-radius: 50%;

}

footer{
  margin-top: 100px;
  background-color: #F0F1FF;
  height: 250px;
  text-align: center;
}
.footer{
  color: #242F51;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer ul{
display: flex;
text-decoration: none;
list-style: none;
}
.footer ul li{
  padding: 0px 10px;
}
.footer p{
  font-size: 13px;
  padding-top: 19px;
}
@media screen and (max-width: 768px) {
  .sec1-img img{
    width: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .companies img{
    width: 100%;
  }
  .townimg img {
    width: 90%;
}
.companies img {
  width: 90%;
}
.admin img{
  width: 325px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customer{
  font-size: 13px;
}
.cus-desc{
  width: 90%;
}
}
.aboutpic img{
  width: 525px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about{
  padding-top: 150px !important;
}
.aboutdesc p{
  font-size: 13px;
}

.awa img{
  width: 100%;
}

@media screen and (max-width: 980px) {
  .admin img{
    width: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sec1-img img{
    width: 525px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .admin img{
    width: 525px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aboutpic img{
    width: 325px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .awa img{
    width: 100%;
  }
  .whyimg img{
    width: 225px !important;
   } .why ul{
    width: 100%;
   }
   .why{
    justify-content: center;
    align-items: center;
   }
   .button-groub{
    flex-direction: row !important;
    width: 60%;
    height: 70px !important;
    margin-right: 0;
    justify-content: center !important;
    margin: 10px 0;
   }
}

@media screen and (max-width: 1200px) {
  .admin img{
    width: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sec1-img img{
    width: 525px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .admin img{
    width: 525px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .phone-desc {
    display: flex;
  justify-content: center;
  flex-direction: column;
}
.aboutpic img{
  width: 525px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.awa img{
  width: 100%;
}
.whyimg img{
  width: 425px;
 }
}
.btn-cssbuttons {
  --btn-color: #275efe;
  position: relative;
  padding: 16px 32px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: white;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 
 .btn-cssbuttons::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--btn-color);
  border-radius: 24px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 
 .btn-cssbuttons span,
 .btn-cssbuttons span span {
  display: inline-flex;
  vertical-align: middle;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 
 .btn-cssbuttons span {
  transition-delay: 0.05s;
 }
 
 .btn-cssbuttons span:first-child {
  padding-right: 7px;
 }
 
 .btn-cssbuttons span span {
  margin-left: 8px;
  transition-delay: 0.1s;
 }
 
 .btn-cssbuttons ul {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-50%);
 }
 
 .btn-cssbuttons ul li {
  flex: 1;
 }
 
 .btn-cssbuttons ul li a {
  display: inline-flex;
  vertical-align: middle;
  transform: translateY(55px);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 
 .btn-cssbuttons ul li a:hover {
  opacity: 0.5;
 }
 
 .btn-cssbuttons:hover::before {
  transform: scale(1.2);
 }
 
 .btn-cssbuttons:hover span,
 .btn-cssbuttons:hover span span {
  transform: translateY(-55px);
 }
 
 .btn-cssbuttons:hover ul li a {
  transform: translateY(0);
 }
 
 .btn-cssbuttons:hover ul li:nth-child(1) a {
  transition-delay: 0.15s;
 }
 
 .btn-cssbuttons:hover ul li:nth-child(2) a {
  transition-delay: 0.2s;
 }
 
 .btn-cssbuttons:hover ul li:nth-child(3) a {
  transition-delay: 0.25s;
 }
 .why ul li h6{
  color: #275efe;
 }

 .why ul li p{
  font-size: 13px;
 }
 .whyimg img{
  width: 625px;
 }
 .whats img{
  width: 100%;
 }
 .adds img{
  width: 100%;
 }
 .edit img{
  width: 100%;
 }
 .assign img{
  width: 50%;
 }
 .assign{
  display: flex;
 }
 .media {
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid white;

  height: 45px;
  width: 45px;
  text-align: center;
  border-style: dashed;
  border-radius: 50%;
  justify-content: space-between;
  
}
.button-groub {
  justify-content: space-between;
  margin-right: 100px;
  flex-direction: column;
  border: 3px dashed #616368;
  border-radius: 14px;
  padding: 15px 10px;
  height: 220px;
}
.media img {
  padding-top: 10px;
  width: 20px;
  display: block;
  margin: auto;
}
.contactus{
  justify-content: space-between;
  flex-wrap: wrap;

}
.pic img{
  width: 70%;
}